body {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    background-color: #40394A;
}

h1 {
    color: #7ECA9C;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    margin-top: 300px;
    font-size: 1rem;
    text-align: center;

}

h3, h4 {
    color: #CCFFBD;
    text-align: center;
}

@media (min-width: 576px) {
    h1 {
        color: #7ECA9C;
        font-family: 'Comfortaa', cursive;
        font-weight: bold;
        margin-top: 300px;
        font-size: 1rem;
        text-align: center;
    }

    h3, h4 {
        color: #CCFFBD;
        text-align: center;
    }
}

/* Login Page */

.login-button {
    margin-top: 20px;
}

/* Mood select */

.moods {
    margin: 30px 10px 30px;
}