body {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    background-color: #40394A;
}

h1 {
    color: #7ECA9C;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    margin-top: 270px;
    font-size: 6rem;
    text-align: center;
}

h3, h4 {
    color: #CCFFBD;
    text-align: center;
}

@media (max-width: 575.98px) {
    h1 {
        color: #7ECA9C;
        font-family: 'Comfortaa', cursive;
        font-weight: bold;
        margin-top: 200px;
        margin-bottom: 20px;
        font-size: 4rem;
        text-align: center;
    }

    h3, h4 {
        color: #CCFFBD;
        text-align: center;
        margin-bottom: 20px;
    }
}

/* Login Page */

.login-button {
    margin-top: 20px;
}

/* Mood select */

.labels {
    background-color: #40394A;
    border-color: #40394A;
    color: white;
    text-align: left;
    margin-bottom: 2px;
}

.form-check {
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Success */

.another-playlist {
    margin-top: 20px;
}
